        <div class="span7 stolen-surfbox custom-hl">
<!-- --total length is 12  -->
    
<h1 class="custom-font1"> Hello I'm Ashley!</h1>

<h2 class="custom-font2"> Having a lot of fun learning how to code at the Firehose weekend</h2>

<%= link_to("Launch App", "#",:class=>'btn btn-inverse')%>