        <div class="span8 offset5 stolen-surfbox text-center">
<!-- --total length is 12  -->
    
<h1 class="custom-font1"> Hello, I'm Ashley.</h1>

<h2 class="custom-font2"> Having fun learning how to code at the Firehose weekend</h2>

<p>
<%= link_to("Launch App", "/pics",:class=>'btn btn-inverse btn-large btn-block')%>



    <div class="control-group">
    <label class="custom-font2" for="inputIcon">Email address</label>
    <div class="controls">
    <div class="input-prepend">
    <span class="add-on"><i class="icon-envelope"></i></span>
    <input class="span2" id="inputIcon" type="text">
    </div>
    </div>
    </div>