
<h1> My Pictures </h1>


<% @pics.each do |pic| %>
	<div class ="span5 pic-section text-center">
		<h2 class="custom-font2">
			Hours <%= pic.hour %>
		</h2>

		<h3>
			I feel <%= pic.emotion %>

		</h3>

		<p> 
			I learned that <%= pic.learned %>

</div>
<% end %>