body {background: url('Shanghai-Sunset-Skyline bg1280x720.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 


.custom-font1{
	color: #FFCCFF;
    font-size: 50px;
    font-weight: 700;
    font-family: arial;
    line-height: 100px;

}

.custom-font2{
	color: #FFCCFF;
    font-size: 30px;
    font-weight: 500;
    font-family: arial;
    line-height: 30px;
}

.box h2, .box h3, .box p {
    color: white; 
}

.my-wrapper h1,
.my-wrapper h2,
.my-wrapper h3,
.my-wrapper p {
  color:#FFCCFF;
  font-family: arial;
  line-height: 30px
}