// Place all the styles related to the pics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pic-section {
    background: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/base-aux/noise-f87c2950f27144de45ef1c1efdaaba61.gif") repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 0 1px #FDFDFD inset, 0 200px 200px -200px #FFFFFF inset;
    margin: 30px;
    padding: 60px;
    text-shadow: 1px 1px 0 #FFFFFF;
}