// Place all the styles related to the staticpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stolen-surfbox {
    background-color: rgba(36, 32, 33, 0.5);
    box-shadow: 2px -2px 2px 2px rgba(36, 32, 33, 0.5);
    padding: 1%;
}
